<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="theSection" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" allowExeDefinition="MachineToRoamingUser" />
  </configSections>
</configuration>